@model ProductViewModel
<!DOCTYPE html>

<html>
<head>
    <title>Add Product</title>
    <style>
        span {
            color: red;
            display:list-item;
            margin-left: 39px;
        }

        input {
            display: block;
            margin: 21px;
        }

        label {
            display: block;
            padding: 20px 0 53px 0;
            transform: translate(15px, -50px);
        }

        div {
            display: inline-block;
        }

        #submit {
            margin: 21px;
        }

        #div2 {
            width: 300px;
        }

    </style>
</head>
<body>
    <form asp-controller="Product" asp-action="Add">
        <div>
            <label asp-for="Name" class="label-info">  </label>
            <label asp-for="Price" class="label-info">   </label>
            <label asp-for="Count" class="label-info">  </label>
            <label asp-for="Description" class="label-info">  </label>
        </div>
        <div id="div2">
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
            <input asp-for="Price" type="text" inputmode="decimal" />
            <span asp-validation-for="Price"></span>
            <input asp-for="Count" />
            <span asp-validation-for="Count"></span>
            <input asp-for="Description" />
            <span asp-validation-for="Description"></span>
        </div>
        <input id="submit" type="submit" />
    </form>
</body>
</html>